
#aboutme {
    height: 20vh;
    width: 100%;
    background-color: #405d27;
    opacity: .5;
    margin-top: 5vw;;
    box-shadow: 0 4px 8px 0 rgba(14, 2, 2, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

@import url('https://fonts.googleapis.com/css?family=Over+the+Rainbow');
#aboutme > h1 {  
    font-family: "Over the Rainbow", cursive;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
    font-size: 5vw;
    letter-spacing: 10px;
    color: #f9ffff;
    text-shadow: rgb(94, 177, 177) 8px 0px 3px;
    padding-top: 1rem;
}


@import url('https://fonts.googleapis.com/css?family=Gafata');
#image-about {
    height: 55vh;
    width: 90vh;
    margin-left: auto;
    margin-right:auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #deeaee;
    border-radius: 5%;
    font-family: Gafata, sans-serif;
    text-align: center;
    letter-spacing: 1px;
    color: rgb(170, 155, 155);
   
    
}


#image-about > img{
    height: 95%;    
    width: 50%;
    opacity:  .9;
    float: left;
    padding-left: 1rem;
    padding-top: 1rem;
    border-radius: 15%;  
}


p.bold-underline, #image-about > p{
    font-weight: bold;
    /* text-decoration: underline; */
    font-size: 1vw;
    color: rgb(19, 60, 70);
    display: inline;
}