.home{  
    height: 90vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#home-left{
    background-color:   #F0EAD6;
    width:70%;
    height: 100%;
    float: left;
    margin-left: -1rem;
}

#home-left > img{
    background-color:   #F0EAD6;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 4px 4px 8px 4px  rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.2);
}

#home-right{
    background-color:   rgb(255, 255, 255);
    padding-top: 8rem;
    width: 30%;
    float:right;
}

.aboutPage{
    display: block;
    margin: auto auto auto auto;
    width:30vh;
    height: 5vh;;
    background-color: #F0EDE5;
    
    /* border: 2px solid #D1B894;; */
    /* -webkit-box-shadow: inset 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 10px 10px 5px 0px rgba(0,0,0,0.75); */
    box-shadow: -1px 3px 16px -1px rgba(118,111,87,0.78);
}

.aboutPageList{
    display: block;
    margin: auto auto auto auto;
    width:30vh;
}

@import url('https://fonts.googleapis.com/css?family=Electrolize');
.aboutPage > p {
    text-align: center;
    color: #6C4F3D;
    font-size: 3vh;
    font-family: Electrolize, sans-serif;
    letter-spacing: -3px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

@import url('https://fonts.googleapis.com/css?family=Electrolize');
.aboutPageList > ul{
    text-align: right;
    color: #6C4F3D;
    font-size: 2vh;
    font-family: Electrolize, sans-serif;
    list-style: none;
    letter-spacing: -1px;
    margin: 1rem auto 1rem auto;
}

@import url('https://fonts.googleapis.com/css?family=Electrolize');
.aboutPageList.center > ul{
    text-align: center;
    color: #6C4F3D;
    font-size: 2vh;
    font-family: Electrolize, sans-serif;
    list-style: none;
}


.welcomeHeader{
    color: rgb(255, 255, 255);
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    text-align: center;
    font-family: Electrolize, sans-serif;
    opacity: .8;
}

h1.welcomeHeader{
    font-size:20vh;
}


h5.welcomeHeader{
    color: #6C4F3D;
    opacity: .5;
}
<--NAVBAR-->

#navBarTop{
    height:10vh;
    opacity: 1;
}

.fontsize-twenty{
    font-size: 20px;
}

#headerFont{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 30px;
    letter-spacing: 0.8px;
    word-spacing: -4.6px;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
}

