
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px), 
only screen and (max-width: 640px), only screen and (max-device-width: 640px){
    .about-box{
        width: 70%;
        height: 2%;
        margin-top: .5vh;
    }

    @import url('https://fonts.googleapis.com/css?family=Electrolize');
    .about-box > p {
        font-size: .3em;
    }

    @import url('https://fonts.googleapis.com/css?family=Electrolize');
    .about-box-list > ul{
        font-size: .1em;
    }

    p.bold-underline, #image-about{

        font-size: .5em;
      
    }
    
    #home-left > img{
        width: 80%;
        height: 40%;
       
    }

    h1.welcomeHeader{
        font-size: 2em;
      
    }

    h5.welcomeHeader{
        font-size: .3em;
    }
}