
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px), 
only screen and (max-width: 640px), only screen and (max-device-width: 640px){
    p.bold-underline, #image-about > p{

        font-size: .5em;
        color:green;
    }

    h1.welcomeHeader{
        font-size: 3em;
        color:black;
    }

    h5.welcomeHeader{
        color: #6C4F3D;
        opacity: .5;
        font-size: .5em;
    }
}