#fullpage{

    height: 100vh;
   
}


#first.col-8{
    
    background-color: #474e463b;
    color: #fff;
}

.col-8{
    height:80vh;
    padding: 5rem;
    background-color: #f3e6e652;
    border: 3px solid #fff;
    color: #fff;
    text-align: left;
}


.col{
    height:80vh;
    padding: 5rem;
    background-color: #f3e6e652;
    border: 3px solid #fff;
    color: rgb(187, 41, 41);
    text-align: center;
    opacity: 1;
 
}

.footer {
    height:20vh;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: green;
    text-align: center;
 }

#third.col-sm-2{

    display: none!important;
}

.fontsize-ten{
    font-size: 10px;
}

#navBarTop{
    height:40px;
}

#headerFont{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 24px;
    letter-spacing: 0.8px;
    word-spacing: -4.6px;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px), 
       only screen and (max-width: 640px), only screen and (max-device-width: 640px){
    
       
#headerFont{

    font-family: "Courier New", Courier, monospace;
    font-size: 10px;
    letter-spacing: -0.8px;
    word-spacing: -0.4px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
 }

}
