#fullpage{

    height: 80vh;
   
}

.col-md-6 {
    padding: 1rem;
    background-color: #33b5e5;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
    height: 80vh;

  
}

.col-md-4 {
    padding: 1rem;
    background-color: #29d376;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
    height: 80vh;
}

.col-md-2 {
    padding: 1rem;
    background-color: #9533e5;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
    height: 80vh;

  
}

#first.col-md-6{
        background-color: #4ac033;
    
}



#third.col-sm-2{

    display: none!important;
}

.fontsize-ten{
    font-size: 10px;
}

#navBarTop{
    height:40px;
}

#headerFont{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 24px;
    letter-spacing: 0.8px;
    word-spacing: -4.6px;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px), 
       only screen and (max-width: 640px), only screen and (max-device-width: 640px){
    
       
#headerFont{

    font-family: "Courier New", Courier, monospace;
    font-size: 10px;
    letter-spacing: -0.8px;
    word-spacing: -0.4px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
 }

}
