#fullpage{

    height: 100vh;
   
}


#first.col-8{
    
    background-color: #474e463b;
    color: #fff;
}

.col-8{
    height:80vh;
    padding: 5rem;
    background-color: #f3e6e652;
    border: 3px solid #fff;
    color: #fff;
    text-align: left;
}


.col{
    height:80vh;
    padding: 5rem;
    background-color: #f3e6e652;
    border: 3px solid #fff;
    color: rgb(187, 41, 41);
    text-align: center;
    opacity: 1;
 
}


#third.col-sm-2{

    display: none!important;
}

.fontsize-ten{
    font-size: 10px;
}

#navBarTop{
    height:40px;
}

#headerFont{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 24px;
    letter-spacing: 0.8px;
    word-spacing: -4.6px;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px), 
       only screen and (max-width: 640px), only screen and (max-device-width: 640px){
    
       
#headerFont{

    font-family: "Courier New", Courier, monospace;
    font-size: 10px;
    letter-spacing: -0.8px;
    word-spacing: -0.4px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
 }

}


.col-3.footer > p.footerParagraph {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: none;
    font-size: 10px;
    letter-spacing: 2px;
    color: #7e92a1;
    position: relative;
    margin-top: -10px;
    font-variant: normal;
 }


 @import url('https://fonts.googleapis.com/css?family=Assistant');
.col-3.footer > p {
    font-family: Assistant, sans-serif;
    font-variant: small-caps;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: -2px;
    color: #7e92a1;
    margin-top: 1px;
}

.col-3.footer {
    height:15vh;
    padding: 0rem;
    background-color:#f3e4c9;
    text-align: center;
    border: 0;
 }

#footerCont.container-fluid{
    height:20vh;
    background-color:black;
    position: fixed;
    bottom: 0;
    left:0;

}

 .col.footer {
    height:15vh;
    padding: 0rem;
    background-color:#f3e4c9;
    color: rgb(6, 53, 61);
    text-align: center;
    border: 0;
 }
 .col.footerBelow{
    height:5vh;
    padding: .6rem;
    border-top: 1px;
    border-color: white;
    background-color: #1d2124;
    color: white;
    text-align: center;
    border: 0;
 }
